<div class="row">
    <h3 ng-if="!users.length" style="padding-bottom: 15px; text-align: center">No Users</h3>

    <div class="col-sm-10 col-sm-offset-1">
        <table class="table table-striped" ng-if="users.length">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th ng-if="!admin">Manager At</th>
                <th ng-if="admin">Created</th>
                <th ng-if="admin">Type</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{ admin ? user.user.firstName : user.firstName }}</td>
                <td>{{ admin ? user.user.lastName : user.lastName }}</td>
                <td>{{ admin ? user.email : user.auth.email }}</td>
                <td ng-if="admin">{{ user.createdAt | date }}</td>
                <td ng-if="admin"><span ng-repeat="t in user.user.roleTypes">{{t}}<br></span></td>
                <td ng-if="!admin"><span ng-repeat="venue in user.managedVenues">{{venue.name}}<br></span></td>
                <td>
                    <a ui-sref="{{ admin ? 'user.editUserAdmin({ id: user.id })' : 'user.editUserOwner({ id: user.auth.id })' }}"
                       class="btn btn-sm btn-warning">EDIT</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

