<!-- file not in use currently-->



<div class="row">
    <div class="col-md-6">
        <h2 class="n-blue-box">{{ organization.name || "Organization" }}</h2>
        <div class="top15" style="padding: 20px; border: 2px solid #cacaca; border-radius: 5px;">
            <div class="panel-heading">
                <h3>Organization Information</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped top15">
                    <tr>
                        <td>Name</td>
                        <td ng-show="organization.name">{{organization.name}}</td>
                        <td ng-hide="organization.name">(Organization has no name)</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{organization.email}}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{organization.phone}}</td>
                    </tr>
                    <tr>
                        <td>Website URL</td>
                        <td>{{organization.websiteUrl}}</td>
                    </tr>


                </table>
            </div>
        </div>

    </div>
</div>