h1 You were invited to be a proprietor at #{venue}

p
    | #{name} invited you to be a #{role} at their venue, #{venue}.

a(href =url) Click here to accept!


p If this is a mistake, please ignore this email.
