<div class="row">
    <div class="col-sm-10 col-sm-offset-1">

        <form name="form" role="form" ng-submit="submit()">
            <fieldset class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
                       ng-model="advertisement.name" required/>
            </fieldset>
            <fieldset class="form-group">
                <label for="desc">Description</label>
                <input type="text" class="form-control" id="desc"
                       ng-model="advertisement.description"/>
            </fieldset>

            <fieldset class="form-group">
                <h2>Crawler Text</h2>
                <label for="c1">One</label>
                <input id="c1" type="text" class="form-control" ng-model="advertisement.text[0]" maxLength="80"/>
                <label for="c2">Two</label>
                <input id="c2" type="text" class="form-control" ng-model="advertisement.text[1]" maxLength="80"/>
                <label for="c3">Three</label>
                <input id="c3" type="text" class="form-control" ng-model="advertisement.text[2]" maxLength="80"/>
            </fieldset>


            <fieldset class="form-group">
                <h2>Images</h2>
                <img-input prompt="Widget" width="256" height="256" dirty="media.widget"
                           src-field="advertisement.images.widget"
                           exact></img-input>
                <img-input prompt="Crawler" width="440" height="100" dirty="media.crawler"
                           src-field="advertisement.images.crawler"
                           exact></img-input>
            </fieldset>
            <!--<div class="panel panel-default">
                <div class="panel-heading">Add Media</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="dz" drag-and-drop on-drop="addFilesToUpload">
                            <p> DROP FILES HERE </p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-show="filesToUpload.length>0">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Files to Create Media From
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                            <li ng-repeat="f in filesToUpload track by $index">{{f.name}}
                                                <button type="button" ng-click="removeUpload($index)">Remove</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="form-actions">

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary top15">
                    Create
                </button>


            </div>
        </form>
    </div>
</div>