<div class="row">
    <div class="col-sm-10 col-sm-offset-1">

        <form name="form" role="form" ng-submit="submit()">
            <fieldset class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
                       ng-model="advertisement.name" required/>
            </fieldset>
            <fieldset class="form-group">
                <label for="desc">Description</label>
                <input type="text" class="form-control" id="desc"
                       ng-model="advertisement.description"/>
            </fieldset>

            <fieldset>
                <h2>Images</h2>
                <img-input prompt="Small" width="800" height="600" dirty="media.sm" src-field="advertisement.images.sm"
                           exact></img-input>
                <img-input prompt="Medium" width="800" height="600" dirty="media.md" src-field="advertisement.images.md"
                           exact></img-input>
                <img-input prompt="Large" width="800" height="600" dirty="media.lg" src-field="advertisement.images.lg"
                           exact></img-input>
                <img-input prompt="Wide" width="800" height="100" dirty="media.wide"
                           src-field="advertisement.images.wide" exact></img-input>


            </fieldset>
            <!--<div class="panel panel-default">
                <div class="panel-heading">Add Media</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="dz" drag-and-drop on-drop="addFilesToUpload">
                            <p> DROP FILES HERE </p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-show="filesToUpload.length>0">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Files to Create Media From
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                            <li ng-repeat="f in filesToUpload track by $index">{{f.name}}
                                                <button type="button" ng-click="removeUpload($index)">Remove</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="form-actions">

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary top15">
                    Create
                </button>


            </div>
        </form>
    </div>
</div>