<div class="row">
    <div class="col-md-6">
        <h2 class="n-blue-box">{{ advertisement.name }}</h2>
        <uib-tabset active="active">
            <uib-tab heading="More Info">
                <div class="top15" style="padding: 20px; border: 2px solid #cacaca; border-radius: 5px;">
                    <!--<div class="panel-heading">
                        <h3>Organization Information</h3>
                    </div>-->
                    <div class="panel-body">
                        <table class="table table-striped top15">
                            <tr>
                                <td>Name</td>
                                <td>{{advertisement.name}}</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>{{advertisement.description}}</td>
                            </tr>
                            <tr ng-if="advertisement.media.length > 0">
                                <td>Media</td>
                                <td></td>
                            </tr>
                            <tr ng-if="advertisement.media.length > 0" ng-repeat="media in advertisement.media">
                                <td>{{media.updatedAt | date:'medium'}}</td>

                                <!-- todo click on image and view largely with info?-->
                                <td><img class="media-prev" ng-src="media/download/{{media.id}}"/></td>


                            </tr>
                        </table>
                    </div>
                </div>

            </uib-tab>
            <uib-tab heading="Edit Advertisement"> <!--TODO only show if user can edit advertisment (which roles??) -->
                <div class="top15" style="padding: 20px; border: 2px solid #cacaca; border-radius: 5px;">
                    <div class="panel-body">
                        <form name="form" ng-submit="update()" role="form">
                            <fieldset class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name"
                                       ng-model="advertisementUpdate.name" required/>
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="desc">Description</label>
                                <input type="text" class="form-control" id="desc"
                                       ng-model="advertisementUpdate.description"/>
                            </fieldset>
                            <table class="table table-striped top15">
                                <tr ng-if="advertisement.media.length > 0">
                                    <td>Media</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr ng-if="advertisement.media.length > 0"
                                    ng-repeat="media in advertisementUpdate.media">
                                    <td>{{media.createdAt | date:'medium'}}</td>
                                    <!-- TODO NAME MEDIA? -->
                                    <!-- todo click on image and view largely with info?-->
                                    <td><img class="media-prev" ng-src="media/download/{{media.id}}"/></td>
                                    <td>
                                        <button type="button" ng-click="removeMedia(media.id)" class="btn btn-danger">
                                            Remove
                                        </button>
                                    </td>

                                </tr>
                            </table>
                            <div class="panel panel-default">
                                <div class="panel-heading">Add Media</div>
                                <div class="panel-body">
                                    <div class="row" ng-show="filesToUpload.length==0">
                                        <div class="dz" drag-and-drop>
                                            <p> DROP FILES HERE (update style?) </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div ng-show="filesToUpload.length>0">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        Files to Create Media From
                                                        <i class="ionicon ion-close icon-button pull-right"
                                                           ng-click="filesToUpload.length = 0"></i>
                                                    </div>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li ng-repeat="f in filesToUpload">{{f.name}}
                                                                <button type="button">TODO remove X</button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-actions">

                                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary top15">
                                    Update
                                </button>


                            </div>
                        </form>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>