<div class="row">
    <div class="col-sm-10 col-sm-offset-1">

        <uib-tabset active="active">
            <uib-tab heading="More Info">
                <div class="top15" style="padding: 20px; border: 2px solid #cacaca; border-radius: 5px;">
                    <div class="panel-body">
                        <table class="table table-striped top15">
                            <tbody>
                            <tr>
                                <td><b>Name</b></td>
                                <td></td>
                                <td></td>
                                <td>{{advertisement.name}}</td>
                            </tr>
                            <tr>
                                <td><b>Description</b></td>
                                <td></td>
                                <td></td>
                                <td>{{advertisement.description}}</td>
                            </tr>
                            <tr>
                                <td><b>Paused</b></td>
                                <td></td>
                                <td></td>
                                <td>{{advertisement.paused}}</td>
                            </tr>
                            <tr ng-if="advertisement.advert.text[0].length > 0">
                                <td><b>Crawler Text One </b></td>
                                <td></td>
                                <td></td>
                                <td>{{advertisement.advert.text[0]}}</td>
                            </tr>
                            <tr ng-if="advertisement.advert.text[1].length > 0">
                                <td><b>Crawler Text Two</b></td>
                                <td></td>
                                <td></td>
                                <td>{{advertisement.advert.text[1]}}</td>
                            </tr>
                            <tr ng-if="advertisement.advert.text[2].length > 0">
                                <td><b>Crawler Text Three</b></td>
                                <td></td>
                                <td></td>
                                <td>{{advertisement.advert.text[2]}}</td>
                            </tr>

                            <tr>
                                <td><b>Reviewed</b></td>
                                <td>{{advertisement.reviewed}}</td>
                                <td><b>Accepted</b></td>
                                <td>{{advertisement.accepted}}</td>
                            </tr>


                            <tr ng-if="advertisement.advert.media">
                                <td><b>Media</b></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <!--TODO small medium and large-->
                            <tr ng-repeat="size in mediaSizes" ng-if="advertisement.advert.media[size]">
                                <td></td>
                                <td><b>{{size}}</b></td>
                                <td><a href="media/download/{{advertisement.advert.media[size]}}"><img
                                        class="media-prev"
                                        ng-src="media/download/{{advertisement.advert.media[size]}}"/></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button ng-click="exportExcel()" class="btn btn-success top15">Export to Excel</button>
            </uib-tab>
            <uib-tab heading="Drill Down">


                <div class="top15" style="padding: 20px; border: 2px solid #cacaca; border-radius: 5px;">
                    <div class="panel-body">
                        <div>
                            <h2>Total Impressions: {{impressions.length}}</h2>
                        </div>
                        <div>
                            <h2>Total Screen Time: {{data.screenTime}} Hours</h2>
                        </div>
                        <br>
                        <div>
                            <h2>Break it down</h2>
                            <table class="table table-striped top15">
                                <thead>
                                <tr>
                                    <td><b>Venue</b></td>
                                    <td><b>Impressions</b></td>
                                    <td><b>Screen Time</b></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="l in venues">
                                    <td>{{l[0].venue.name}}</td>
                                    <td>{{l.length}}</td>
                                    <td>{{l.length * .5 / 60}} Hours</td>
                                </tr>

                                </tbody>
                            </table>

                            <div >
                                <div class="text-center">
                                    Hourly Impressions
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <canvas id="bar" class="chart chart-line"
                                                chart-data="graphdata" chart-labels="labels" chart-series="series"
                                                chart-options="options">
                                        </canvas>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                               ng-model="dt.date" is-open="datePopup.opened"
                                               datepicker-options="dateOptions"
                                               ng-required="true" close-text="Close"
                                               alt-input-formats="altInputFormats" ng-change="newDate()"/>
                                         <span class="input-group-btn">
                                      <button type="button" class="btn btn-default" ng-click="open()"><i
                                              class="glyphicon glyphicon-calendar"></i></button>
                                         </span>
                                        </p>
                                    </div>
                                    <div class="col-md-3"></div>

                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Edit Advertisement"> <!--TODO only show if user can edit advertisment (which roles??) -->
                <div class="top15" style="padding: 20px; border: 2px solid #cacaca; border-radius: 5px;">
                    <div class="panel-body">
                        <form name="form" ng-submit="update()" role="form">
                            <fieldset class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name"
                                       ng-model="advertisementUpdate.name" required/>
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="desc">Description</label>
                                <input type="text" class="form-control" id="desc"
                                       ng-model="advertisementUpdate.description"/>
                            </fieldset>

                            <fieldset class="form-group">
                                <h2>Crawler Texts</h2>
                                <p>Enter up to three scrolling text items.</p>
                                <input id="c1" type="text" class="form-control"
                                       ng-model="advertisementUpdate.advert.text[0]"
                                       maxLength="80"/>
                                <br><input id="c2" type="text" class="form-control"
                                           ng-model="advertisementUpdate.advert.text[1]" maxLength="80"/>
                                <br><input id="c3" type="text" class="form-control"
                                           ng-model="advertisementUpdate.advert.text[2]" maxLength="80"/>
                            </fieldset>

                            <fieldset class="form-group">
                                <h2>Images</h2>
                                <img-input prompt="Widget" width="256" height="256" dirty="media.widget"
                                           src-field="advertisementUpdate.advert.media.widget" exact></img-input>
                                <img-input prompt="Crawler" width="440" height="100" dirty="media.crawler"
                                           src-field="advertisementUpdate.advert.media.crawler" exact></img-input>
                            </fieldset>
                            <div class="form-actions">

                                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary top15">
                                    Update
                                </button>
                                <a ng-click="delete()" class="btn btn-danger top15 pull-right" style="margin-left:10px">
                                    Delete
                                </a>
                                <a ng-click="pause()" class="btn btn-warning top15 pull-right" style="margin-left:10px">
                                    {{advertisement.paused ? "Resume" : "Pause"}}
                                </a>


                            </div>
                        </form>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>

    </div>
</div>