<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <table class="table table-striped top15">
            <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Reviewed</td>
                <td>Accepted</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="advertisement in advertisements">
                <td>{{advertisement.name}}</td>
                <td>{{advertisement.description}}</td>
                <td>{{advertisement.reviewed}}</td>
                <td>{{advertisement.accepted}}</td>
                <td ng-if="!admin"><a ui-sref="advertisement.edit({id: advertisement.id})"
                                                  class="btn btn-sm btn-warning">More Info</a></td>
                <td><a class="btn btn-sm btn-primary">Pause</a></td>
                <td><a class="btn btn-sm btn-danger">Delete</a></td>

                <td ng-if="admin" width="10%"><a ui-sref="advertisement.adminReview({id: advertisement.id})"
                                                 class="btn btn-sm btn-warning">Review</a></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>