<div class="row">
    <div class="col-sm-6">
        <h2>Add a Venue</h2>

        <form name="form" role="form" ng-submit="submit()" class="form-horizontal">
            <fieldset class="form-group" ng-class="{'has-error' : !form.name.$valid && form.name.$dirty}">
                <label for="name" class="col-sm-3 control-label">Venue Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Venue Name"
                           ng-model="venue.name" required/>
                </div>
            </fieldset>
            <fieldset class="form-group" ng-class="{'has-error' : !form.street.$valid && form.street.$dirty}">
                <label for="address-street" class="col-sm-3 control-label">Street Address</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="address-street" name="street" placeholder="Address"
                           ng-model="venue.address.street" required/>
                </div>
            </fieldset>
            <fieldset class="form-group" ng-class="{'has-error' : !form.city.$valid && form.city.$dirty}">
                <label for="address-city" class="col-sm-3 control-label">City</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="address-city" name="city" placeholder="City"
                           ng-model="venue.address.city" required/>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <label for="address-state" class="col-sm-3 control-label">State</label>
                <div class="col-sm-3">
                    <select ng-options="state for state in states" ng-model="venue.address.state" class="form-control"
                            id="address-state" name="state" required></select>
                </div>
            </fieldset>
            <fieldset class="form-group" ng-class="{'has-error' : !form.zip.$valid && form.zip.$dirty}">
                <label for="address-zip" class="col-sm-3 control-label">ZIP</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="address-zip" name="zip" placeholder="ZIP Code"
                           ng-model="venue.address.zip" ng-pattern="regex" required/>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="venue.showInMobileAppMap"> Show in Mobile App Map
                        </label>
                    </div>
                </div>
            </fieldset>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid" class="pull-right btn btn-primary btn-lg top15">
                    Create Venue
                </button>
            </div>
        </form>
    </div>
</div>

