<div class="top15 sidepad10" >

    <form name="form" ng-submit="update()" role="form" ng-if="!code" class="form-horizontal">
        <fieldset class="form-group">
            <label for="name" class="col-sm-2 control-label">Venue Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Venue Name"
                       ng-model="updateVenue.name" required/>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label for="street" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="street" placeholder="Street"
                       ng-model="updateVenue.address.street" required/>
            </div>
        </fieldset>
        <!--There's probably a better way of making this inline-->
        <fieldset class="form-group" ng-class="{'has-error' : !form.zip.$valid}">
            <div class="col-sm-4 col-sm-offset-2">
                <input type="text" class="form-control" id="city" placeholder="City"
                       ng-model="updateVenue.address.city" required/>
            </div>
            <div class="col-sm-3">
                <select ng-options="state for state in states" class="form-control"
                        id="state" name="state" required
                        ng-model="updateVenue.address.state"></select>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="ZIP Code" ng-required
                       ng-model="updateVenue.address.zip" name="zip" ng-pattern="regex"/>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="venue.showInMobileAppMap"> Show in Mobile App Map
                    </label>
                </div>
            </div>
        </fieldset>


        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary top15">
                Update
            </button>
        </div>
    </form>
    <br>
    <div>
        <button class="btn btn-danger" ng-click="deleteVenue()" ng-disabled="!confirm.checked">
            Delete
        </button>
        <input type="checkbox" ng-model="confirm.checked"
               style="margin-left: 5px;"><span>&nbsp;Confirm delete</span>
    </div>

</div>