<style>
    .angular-google-map-container { height: 450px; }
</style>

<div class="top15 sidepad10">

    <a ui-sref="venue.edit({id: venue.id})" class="btn btn-primary pull-right">Edit</a>

    <a ng-click="showMap = !showMap;" class="btn btn-primary" style="margin-bottom: 15px">
        {{!showMap ? "Show" : "Hide"}} Map
    </a>

    <div uib-collapse="!showMap">
        <ui-gmap-google-map center="map.center" zoom="map.zoom">
            <ui-gmap-marker idKey="marker.id" coords="marker.coords">
                <ui-gmap-window show="true">
                    <div style="text-align: center">
                        <h3>{{ venue.name }}</h3>
                        <p style="font-size: 14px">{{ marker.address }}</p>
                    </div>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>

    <h3 ng-show="venue.devices.length">Devices</h3>

    <table class="table table-striped top15" ng-show="venue.devices.length">
        <thead>
        <tr>
            <td>Name</td>
            <td>Location in Venue</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="device in venue.devices">
            <td>{{device.name}}</td>
            <td>{{device.locationWithinVenue}}</td>
            <td width="10%"><a ui-sref="device.manageDevice({id: device.id})" class="btn btn-sm btn-warning">More
                Info</a></td>
        </tr>
        </tbody>
    </table>


</div>