<div class="top15 sidepad10">

    <h3>Venue Information<a ui-sref="venue.edit({id: venue.id})" class="btn btn-primary btn-sm pull-right">Edit</a> </h3>

    <h4>Address</h4>

    <p>{{venue.address.street}}</p>
    <p>{{venue.address.city}}, {{venue.address.state}} {{venue.address.zip}}</p>

    <a ng-click="showMap = !showMap" class="btn btn-info btn-sm" style="margin-bottom: 15px">
        {{showMap ? "Show" : "Hide"}} Map
    </a>

    <div uib-collapse="showMap">
        <iframe
                width="100%"
                height="450"
                frameborder="0" style="border:0"
                ng-src="{{mapLink | trustAsResourceUrl}}">
        </iframe>
    </div>


    <h4 ng-show="venue.devices.length">Devices</h4>

    <table class="table table-striped top15" ng-show="venue.devices.length">
        <thead>
        <tr>
            <td>Name</td>
            <td>Location in Venue</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="device in venue.devices">
            <td>{{device.name}}</td>
            <td>{{device.locationWithinVenue}}</td>
            <td width="10%"><a ui-sref="device.manageDevice({id: device.id})" class="btn btn-sm btn-warning">More
                Info</a></td>
        </tr>
        </tbody>
    </table>


</div>