<style>
    .angular-google-map-container {
        height: 450px;
    }
</style>

<div class="top15 sidepad10">

    <a ui-sref="{{ admin ? 'venue.adminEdit({id: venue.id})' : 'venue.edit({id: venue.id})'}}"
       class="btn btn-primary pull-right">Edit</a>

    <a ng-click="showMap = !showMap;" class="btn btn-primary" style="margin-bottom: 15px" ng-init="showMap = true">
        {{!showMap ? "Show" : "Hide"}} Map
    </a>

    <div uib-collapse="!showMap">
        <ui-gmap-google-map center="map.center" zoom="map.zoom">
            <ui-gmap-marker idKey="map.markerId" coords="map.center">
                <ui-gmap-window show="true">
                    <div style="text-align: center">
                        <h3>{{ venue.name }}</h3>
                        <p style="font-size: 14px">{{ map.address }}</p>
                    </div>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>

    <h3 ng-show="venue.devices.length">Devices</h3>

    <table class="table table-striped top15" ng-show="venue.devices.length">
        <thead>
        <tr>
            <td>Name</td>
            <td>Location in Venue</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="device in venue.devices">
            <td>{{device.name}}</td>
            <td>{{device.locationWithinVenue}}</td>
            <td width="10%"><a
                    ui-sref="{{admin ? 'device.adminManage({id: device.id})' : 'device.ownerManage({id: device.id})'}}"
                    class="btn btn-sm btn-warning">More
                Info</a></td>
        </tr>
        </tbody>
    </table>
    <h3 ng-show="venue.venueManagers.length"> Venue Managers </h3>

    <table class="table table-striped top15" ng-show="venue.venueManagers.length">
        <thead>
        <tr>
            <td>Name</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in venue.venueManagers">
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>
                <button class="btn btn-sm btn-danger" ng-click="removeManager(user)">Remove</button>
            </td>
            <td width="10%"><a
                    ui-sref="{{admin ? 'user.editUserAdmin({id: user.auth})' : 'user.editUserOwner({id: user.auth})'}}"
                    class="btn btn-sm btn-warning">More
                info</a></td>
        </tr>
        </tbody>

    </table>
    <h3> Venue Owners </h3>

    <table class="table table-striped top15" ng-show="venue.venueOwners.length">
        <thead>
        <tr>
            <td>Name</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in venue.venueOwners">
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>
                <button class="btn btn-sm btn-danger" ng-click="removeOwner(user.id)"
                        ng-if="user.id != uid && venue.venueOwners.length > 1">Remove
                </button>
            </td>
            <td width="10%"><a ui-sref="{{userRoute(user.id)}}" class="btn btn-sm btn-warning">More
                info</a></td>
        </tr>
        </tbody>

    </table>
    <div>
        <!--<input type="text" ng-model="input"
               placeholder="Enter a user's email"
               uib-typeahead="user as user.name + ' - ' + user.email for user in searchUsers($viewValue)"
               typeahead-loading="loadingUsers"
               typeahead-no-results="noResults" class="form-control">
        <i ng-show="loadingUsers" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>-->
        <form name="form" role="form">
            <div class="form-group"
                 ng-class="{ 'has-error' : !form.email.$valid && form.email.$touched, 'has-success' : form.email.$valid}">
                Add Owners and Managers <!--TODO might have to move this to EDIT venue? ?-->

                <div class="input-group ">
                    <span class="input-group-addon"><i class="glyphicon-envelope glyphicon"></i></span>

                    <input type="email" class="form-control" placeholder="Email Address" name="email"
                           ng-model="proprietor.email" required><br>
                </div>
            </div>
            <button ng-click="addProprietor('Manager')" ng-disabled="form.$invalid" class="btn btn-sm btn-success">Add
                Manager
            </button>
            <button ng-click="addProprietor('Owner')" ng-disabled="form.$invalid" class="btn btn-sm btn-warning">Add
                Owner
            </button>
        </form>

    </div>
</div>