<div class="container">
    <h1><i class="fa fa-building-o" aria-hidden="true" style="color: #999999"></i>&nbsp;Venue: <span style="color: #8a8a8a; font-style: italic;">{{ venue.name }}</span></h1>
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <uib-tabset class="top30">
                <uib-tab heading="Basic Venue Info">
                    <venue-basic-info venue="venue" geocode="true" ring="user.ring" yelp="true"></venue-basic-info>
                    <google-map address="venue.address" geolocation="venue.geolocation" name="venue.name"></google-map>
                </uib-tab>
                <uib-tab heading="Personnel">
                    <venue-users venue="venue" users="users"></venue-users>
                </uib-tab>
                <uib-tab heading="Sponsorships">
                    <venue-ads venue="venue" ads="ads"></venue-ads>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>