<div class="row" id="top">
    <div class="col-sm-8 col-sm-offset-2 top30" ng-show="models.length">
        <input type="text" ng-model="searchTerm" class="form-control" placeholder="Search best position models...">
    </div>
    <div class="col-sm-10 col-sm-offset-1 top30">
        <h3 ng-if="!models.length" style="text-align: center; margin-bottom: 40px">No Best Position Models</h3>
        <table class="table table-striped" ng-if="models.length">
            <thead>
            <tr>
                <th>Network</th>
                <th>Program</th>
                <th>Type</th>
                <th>Ad Position</th>
                <th>Crawler Position</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="model in models | filter: searchTerm | orderBy: 'network' | startFrom: (currentPage-1)*pageSize | limitTo: pageSize">
                <td ng-show="model.network">{{ model.network }}</td>
                <td ng-show="model.seriesNetworks.length">
                    <p ng-repeat="network in model.seriesNetworks | orderBy: '+'">
                        {{ network }}
                    </p>
                </td>
                <td>{{ model.seriesName || "N/A" }}</td>
                <td>{{ model.type | capitalize }}</td>
                <td>{{ model.adPosition | capitalize }}</td>
                <td>{{ model.crawlerPosition | capitalize}}</td>
                <td>
                    <a class="btn btn-sm btn-warning">EDIT</a></td>
            </tr>
            </tbody>
        </table>
        <uib-pagination total-items="models.length"
                        ng-model="currentPage"
                        items-per-page="pageSize"
                        rotate="true"
                        max-size="8"
                        boundary-link-numbers="true"
                        ng-show="models.length"
                        ng-change="goToTableTop()"></uib-pagination>
    </div>
</div>