<div class="row">
    <div class="col-md-6">
        <h2>Add a Device</h2>

        <form name="form" ng-submit="submitForCode()" role="form" ng-if="!code">
            <fieldset class="form-group">
                <label for="name">Device Name</label>
                <input type="text" class="form-control" id="name" placeholder="Device Name"
                       ng-model="device.name" required/>
            </fieldset>

            <fieldset class="form-group">
                <label for="location">Location Within Venue</label>
                <input type="text" class="form-control" id="location" placeholder="Location"
                       ng-model="device.locationWithinVenue" required/>
            </fieldset>
            <fieldset class="form-group" ng-if="user.venues.length > 0"> <!--TODO TEST THIS-->
                <label for="venue">Venue</label>
                <select type="text" class="form-control" id="venue"
                        ng-model="device.venue"
                        ng-options="listAddress(venue) for venue in user.venues track by venue.id">
                    required>
                </select>
            </fieldset>

            <div class="form-actions">

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-lg top15">
                    Create Activation Code
                </button>
            </div>
        </form>
        <div ng-if="code">
            <h2>Code: {{data.code}}</h2>
            <h3>Enter this code on your device you would like to register</h3>
        </div>
    </div>
</div>


