<body>

<div class="col-md-6">
    <h2 class="n-blue-box">{{ device.name }}</h2>
    <form name="form" ng-submit="update()" role="form" ng-if="!code">
        <fieldset class="form-group">
            <label for="name">Device Name</label>
            <input type="text" class="form-control" id="name" placeholder="Device Name"
                   ng-model="device.name" required/>
        </fieldset>

        <fieldset class="form-group">
            <label for="location">Location Within Venue</label>
            <input type="text" class="form-control" id="location" placeholder="Location"
                   ng-model="device.locationWithinVenue" required/>
        </fieldset>
        <div> {{user.venues}}</div>
        <fieldset class="form-group" ng-if="user.venues.length > 1"> <!--TODO TEST THIS-->
            <label for="venue">Location Within Venue</label>
            <select type="text" class="form-control" id="venue"
                    ng-model="device.venue" required>
                <option ng-repeat="venue in user.venues">{{venue.name}}</option> <!--TODO Venue name-->
            </select>
        </fieldset>

        <div class="form-actions">

            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-lg top15">Update</button>


        </div>
    </form>
    <br>
    <div>
        <button class="btn btn-danger" ng-click="deleteDevice()" ng-disabled="!confirm.checked">
            DELETE
        </button>
        <input type="checkbox" ng-model="confirm.checked" style="margin-left: 5px;"><span>&nbsp;Confirm delete</span>
    </div>
</div>


</body>