<body>

<div class="col-md-6">
    <h2 class="n-blue-box">{{ device.name }}</h2>
    <form>
        <fieldset class="form-group">
            <label for="name">Device Name</label>
            <input type="text" class="form-control" id="name" placeholder="Device Name"
                   ng-model="device.name">
        </fieldset>

        <fieldset class="form-group">
            <label for="location">Location Within Venue</label>
            <input type="text" class="form-control" id="location" placeholder="Location"
                   ng-model="device.locationWithinVenue">
        </fieldset>

        <button ng-click="update()" id='update' class="btn btn-primary btn-lg top15">Update</button>

    </form>
</div>


</body>