<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <uib-tabset active="active">
            <uib-tab heading="More Info">
                <div class="top15">
                    <div class="panel-heading">
                        <h3>Device Information</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped top15">
                            <tr>
                                <td>Name</td>
                                <td ng-show="deviceName">{{deviceName}}</td>
                                <td ng-hide="deviceName">(Device has no name)</td>
                            </tr>
                            <tr>
                                <td>Venue</td>
                                <td><a ui-sref="venue.view({id: device.venue.id})">{{device.venue.name}}</a></td>
                            </tr>
                            <tr>
                                <td>Venue Address</td>
                                <td>
                                    <a ng-href="http://maps.google.com/?q={{addressString(device.venue.address)}}" target="_blank">
                                        {{addressString(device.venue.address)}}
                                    </a>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Edit Device">
                <div class="top15">
                    <div class="col-sm-12">
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary top15" ng-click="update()">
                            Update
                        </button>
                        <button class="btn btn-danger pull-right top15" ng-click="deleteDevice()">
                            Delete
                        </button>
                    </div>
                    <div class="panel-body col-sm-12 form-horizontal top15">
                        <form name="form" ng-submit="update()" role="form" ng-if="!code">
                            <div ng-init="setForm(form);"></div>
                            <fieldset class="form-group">
                                <label for="name" class="col-sm-2 control-label">Device Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="name" placeholder="Device Name"
                                           ng-model="device.name" required/>
                                </div>
                            </fieldset>

                            <fieldset class="form-group">
                                <label for="location" class="col-sm-2 control-label">Location Within Venue</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="location" placeholder="Location"
                                           ng-model="device.locationWithinVenue" required/>
                                </div>
                            </fieldset>
                            <fieldset class="form-group" ng-if="user.ownedVenues.length > 1 || venues">
                                <label for="venue" class="col-sm-2 control-label">Venue</label>
                                <div class="col-sm-8">
                                    <select type="text" class="form-control" id="venue"
                                            ng-model="device.venue" required
                                            ng-options="listAddress(venue) for venue in {{ venues ? 'venues' : 'user.ownedVenues' }} track by venue.id">
                                    </select>
                                </div>
                            </fieldset>
                            <button type="submit" ng-show="false"></button>
                        </form>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>


</div>
