<div ng-if="advertisements">
    <h2 class="text-center">Your Advertisements</h2>

    <!--add search function??

    <pre>Model: {{selected | json}}</pre>
    <input type="text" ng-model="selected" uib-typeahead="v.name as v for v in venueList | filter:$viewValue | limitTo:8" class="form-control">

    -->
    <div ng-repeat="ads in advertisements">

        <div class="col-md-6 text-center" ng-repeat="ad in ads">

            <div class=" text-center dash-panel" ui-sref="advertisement.edit({id: ad.id})">
                <div class="dash-name">
                    {{ad.name}}
                </div>
                <div>
                    <img class="dash-logo"
                         ng-src="{{ad.marr[0] ? 'media/download/' + ad.marr[0] : 'images/default-venue.jpg'}}"/>
                </div>

            </div>
        </div>
    </div>
</div>