<div ng-if="advertisements">

    <div class="text-center">
        Lets make a cool graph here (Like TS)
    </div>


    <h2 class="text-center">Your Advertisements</h2>



    <!--add search function??

    <pre>Model: {{selected | json}}</pre>
    <input type="text" ng-model="selected" uib-typeahead="v.name as v for v in venueList | filter:$viewValue | limitTo:8" class="form-control">

    -->

    <div ng-repeat="ads in advertisements">

        <div class="col-md-6 text-center" ng-repeat="ad in ads">

            <div class=" text-center dash-panel" ui-sref="advertisement.edit({id: ad.id})">
                <div class="dash-name">
                    {{ad.name}}
                </div>
                <div>
                    <img height="150" width="150" class="dash-logo"
                         ng-src="{{ad.media.widget ? 'media/download/' + ad.media.widget : 'images/default-ad.jpg'}}"/>
                </div>
                <br>

            </div>
        </div>
    </div>

</div>