
<h2 ng-if="venues" class="text-center">Venues you own</h2>

<div  ng-repeat="vens in venues">

    <!--todo try more columns haha column for ngrepeat vens1-->


    <div class="col-md-6 text-center" ng-repeat="ven in vens">

        <div class="text-center dash-panel" ui-sref="venue.view({id: ven.id})">
            <div class="dash-name">
                {{ven.name}}
            </div>
            <div>
                <img ng-if="ven.logo" class="dash-logo"
                     ng-src="media/download/{{ven.logo}}"/>
                <img ng-if="!ven.logo" class="dash-logo"
                     ng-src="images/default-venue.jpg"/>
            </div>
            <div >
                <div class="dash-address">
                    {{addressify(ven.address)}}
                </div>
            </div>


        </div>

    </div>


</div>