<div style="background: #333333; height: 100vh; with: 100vw; padding: 10px;">

    <img style="display: block; max-width: 50vw;" src="/images/ourglass-white.png"/>
    <h4 style="color: white;">Your account has been successfully validated.</h4>

    <a class="btn btn-lg btn-success top30" style="width: 100%" href="/login">Log In</a>

</div>


