<nav class="navbar navbar-inverse" role="navigation" ng-if="!ui.showAdmin">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- MAK: this implements the responsive hamburger menu on smaller screens as well as places the brand at left. -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="/images/overplay-white.png"
                                              style="max-height: 40px; margin-top: -10px;"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" uib-collapse="navCollapsed">


        <ul class="nav navbar-nav">
            <li><a href="#" ng-click="navCollapsed = true">Link1</a></li>
            <li><a href="#" ng-click="navCollapsed = true">Link2</a></li>


        </ul>

        <ul class="nav navbar-nav navbar-right">

            <li uib-dropdown is-open="ui.accountOpen">
                <a id="account" uib-dropdown-toggle ng-disabled="disabled">Account<b
                        class="caret"></b></a>
                <ul  uib-dropdown-menu role="menu" aria-labelledby="account">
                    <li><a ui-sref="user.editUser" ng-click="navCollapsed = true">Edit My Account</a></li>
                    <li><a href="/logout" ng-click="navCollapsed = true">Logout</a></li>
                </ul>
            </li>
        </ul>
        ``
    </div><!-- /.navbar-collapse -->
</nav>

<nav class="navbar navbar-inverse" role="navigation" ng-if="ui.showAdmin">
    <!-- ADMIN TOOLBAR -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- MAK: this implements the responsive hamburger menu on smaller screens as well as places the brand at left. -->
    <!-- TODO cole - when redirecting, collapse menu //kinda fixed but not the most dry -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="/images/overplay-white.png"
                                              style="max-height: 40px; margin-top: -10px;"/></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" uib-collapse="navCollapsed">


        <ul class="nav navbar-nav">

            <li uib-dropdown is-open="ui.usersOpen">
                <a id="users" uib-dropdown-toggle ng-disabled="disabled">Users<b
                        class="caret"></b></a>
                <ul uib-dropdown-menu role="menu" aria-labelledby="users">
                    <li><a ui-sref="admin.manageUsers" ng-click="navCollapsed = true">Manage Users</a></li>
                    <li><a ui-sref="admin.addUser" ng-click="navCollapsed = true">Add User</a></li>
                </ul>
            </li>


            <li uib-dropdown is-open="ui.devicesOpen"><a ui-sref="admin.manageDevices" ng-click="navCollapsed = true">Devices</a></li>


        </ul>

        <ul class="nav navbar-nav navbar-right">

            <li uib-dropdown is-open="ui.adminOpen">
                <a id="admin" uib-dropdown-toggle ng-disabled="disabled">Account<b
                        class="caret"></b></a>
                <ul uib-dropdown-menu role="menu" aria-labelledby="admin">
                    <li><a ui-sref="user.editUser" ng-click="navCollapsed = true">Edit My Account</a></li>
                    <li><a href="/logout" ng-click="navCollapsed = true">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>